fastapi>=0.110.0
uvicorn>=0.29.0
pydantic>=2.7.0
langchain>=0.2.0
langchain-openai
langchain-community
chromadb>=0.5.0
sentence-transformers
python-dotenv
langchain-groq
pypdf
httpx
tavily-python
google-generativeai
posthog
langgraph
PyJWT
python-multipart
langgraph-checkpoint-sqlite
aiosqlite
